@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family:'Lato';
    color: #333;
    line-height:1.6;
}
.heading{
    font-weight: 900;
}
ul{
    list-style-type:none;
}

a{
    text-decoration:none;
    color: #333;
}
h1{
    font-size:2rem;
    font-weight: 500;
    line-height:1.2;
    margin:10px 0;
}
h2,h3{
    font-size:2rem;
    font-weight:250;
    line-height:1.2;
    margin:30px 0;
}
#icon{
    width:100%;
}
.logo{
    font-weight: 900;
}
.navbar{
    background-color:rgb(170, 142, 247);
    color:var#333;
    height:100%;
}
.navbar a{
    color:var#333;
    padding: 10px;
    margin:0 5px;
}
.navbar a:hover{
    border-bottom: 2px #333 solid;
}
.navbar ul{
    display:flex;
}
.navbar .flex{
    justify-content:space-between;
}
.showcase img{
    max-width: 50%;
    margin-top: 2rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto ;
}
.page-content img{
    max-width: 50%;
    height: auto;
}
.page-heading{
    font-size: 3rem;
    font-weight: 900;
}
.page-heading-2{
    font-weight: 700;
}
.container{
    max-width:1400px;
    margin: 0 auto;
    overflow:auto;
    padding:0 40px;
}

.text-center{
    text-align:center;
}

.flex{
    display:flex;
    justify-content:center;;
    align-items:center;
    height:100%;
}

.grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content:center;
    align-items:center;
}
.rno{
    font-size: 1.5rem;
}
/* Margin */
.my-1{
    margin:1rem 0;
}
.my-2{
    margin:1.5rem 0;
}
.my-3{
    margin:2rem 0;
}
.my-4{
    margin:3rem 0;
}
.m-1{
    margin:1rem ;
}
.m-2{
    margin:1.5rem;
}
.m-3{
    margin:2rem;
}
.m-4{
    margin:3rem;
}

/* Padding */
.py-1{
    padding:1rem 0;
}
.py-2{
    padding:1.5rem 0;
}
.py-3{
    padding:2rem 0;
}
.p-4{
    padding:3rem;
}
.p-1{
    padding:1rem;
}
.p-2{
    padding:1.5rem ;
}
.p-3{
    padding:2rem ;
}
.p-4{
    padding:3rem ;
}