@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

:root{
    --primary-color:rgb(170, 142, 247);
    --secondary-color:#333;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family:'Lato', open-serif;
    color:var(--secondary-color);
    line-height:1.6;
}
.heading{
    font-weight: 900;
}
ul{
    list-style-type:none;
}

a{
    text-decoration:none;
    color: var(--secondary-color);
}

h1{
    font-size:2rem;
    font-weight: 500;
    line-height:1.2;
    margin: 0 5px;
    /* overflow: auto; */
}
h2,h3{
    font-size:2rem;
    font-weight:250;
    line-height:1.2;
    margin:30px 0;
}

p{
    font-size:1.5rem;
    margin:10px 0;
}

#icon{
    width:100%;
}

.navbar{
    background-color:whitesmoke;
    /* background: linear-gradient(to left,#feac5e,#c779d0,#4bc0c8); */
    /* background: linear-gradient(to left,#cc95c0,#dbd4b4,#7aa1d2); */
        /* background-image: linear-gradient(to left,#4776e6,#8e54e9); */
    /* background: linear-gradient(to left,#4776e6,#8e54e9); */
    color:var(--secondary-color);
    height:100%;
}
.navbar a{
    color:var(--secondary-color);
    padding: 10px;
    margin: 5px;
}
.navbar a:hover{
    border-bottom: 2px var(--secondary-color) solid;
}
/* .navbar ul{
    display:flex;
}  */
/* .navbar .flex{
   justify-content:space-between;
}    */
.nav-opt{
    list-style-type: none;
    display: none;
    font-size: 1em;
}
.nav-opt li {
    text-align: center;
    margin: 15px auto; 
}
.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    /* color: rgba(255, 255, 255, 0.8); */
    font-size: 24px;
}
.active{
    display: block;
    padding-bottom: 10px;
}
.logo{
    display:inline-block;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 10px;
    margin-left: 20px;
}

.container{
    max-width:100%;
    margin: 0 auto;
    overflow:auto;
    padding:0 40px;
}

.text-center{
    text-align:center;
}
.middlename{
    color: white;
    /* font-size: 5em; */
    text-shadow: 10px 10px 10px rgb(91, 80, 119);
    text-align: center;
    padding: 150px 0;
    justify-content: c;
}

.flex{
    display:flex;
    justify-content:center;;
    align-items:center;
    height:100%;
}
.my-4{
    margin:1rem 0;
}
.types{
    color: whitesmoke;
    text-align:center;
    /* font-size: 2em ; */
    /* margin: 30px 60px;
    margin-left: 100px; */
}



@media screen and (min-width: 768px) {
    
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom:0px;
        height: 70px;
        align-items: center;
    }
    .nav-opt{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .nav-opt li {
        margin: 0;
    }
    .logo{
        margin-top:0;
    }
    .navbar-toggle {
        display: none;
    }
}

@media screen and (min-width: 320px) {
    .middlename{
        font-size:3.2rem;
    }
    .types{
        font-size:1.3rem;
        margin: 10px 20px;
        margin-left: 40px;
        margin-bottom: 100px;
    }
}
@media screen and (min-width: 800px) {
    .middlename{
        font-size:5rem;
    }
    .types{
        font-size:2rem;
        margin: 30px 60px;
        margin-left: 100px;
    }
}
