@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

:root{
    --primary-color:rgb(170, 142, 247);
    --secondary-color:#333;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family:'Lato', open-serif;
    color:var(--secondary-color);
    line-height:1.6;
}
.heading{
    font-weight: 900;
}
ul{
    list-style-type:none;
}

a{
    text-decoration:none;
    color: var(--secondary-color);
}

h1{
    font-size:2rem;
    font-weight: 500;
    line-height:1.2;
    margin: 0 5px;
    overflow: auto;
}
h2,h3{
    font-size:2rem;
    font-weight:250;
    line-height:1.2;
    margin:30px 0;
}

p{
    font-size:1.5rem;
    margin:10px 0;
}

#icon{
    width:100%;
}
.nav-opt{
    font-size: 1em;
}

.navbar{
    background-color:whitesmoke;
    color:var(--secondary-color);
    height:100%;
}
.navbar a{
    color:var(--secondary-color);
    padding: 10px;
    margin: 5px;
}
.navbar a:hover{
    border-bottom: 2px var(--secondary-color) solid;
}
.navbar ul{
    display:flex;
}
.navbar .flex{
   justify-content:space-between;
}
.logo{
    font-weight: 500;
    font-size: 2.5rem;
}

.container{
    max-width:100%;
    margin: 0 auto;
    overflow:auto;
    padding:0 40px;
}

.text-center{
    text-align:center;
}
.middlename{
    color: white;
    font-size: 5em;
    text-shadow: 10px 10px 10px rgb(91, 80, 119);
    text-align: center;
    padding: 150px 0;
    justify-content: c;
}

.flex{
    display:flex;
    justify-content:center;;
    align-items:center;
    height:100%;
}
.my-4{
    margin:1rem 0;
}
.types{
    color: whitesmoke;
    font-size: 2em ;
    margin: 30px 60px;
    margin-left: 100px;
}
